In [1]:
 mylist = [1,2,3]

In [3]:
mylist.append(4)

In [5]:
mylist

[1, 2, 3, 4]

In [7]:
mylist.pop()

4

In [9]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [11]:
def say_hello():
    print('hello')

In [13]:
say_hello()

hello

In [15]:
say_hello

In [17]:
def say_hello(name= 'Default'):
    print(f'hello {name}')

In [19]:
say_hello()

hello Default

In [21]:
def print_result(a,b):
    print(a+b)

In [23]:
def return_result(a,b):
    return a+b

In [25]:
stock_prices = [('AAPLE',100),('banana',200)]

In [27]:
for x in stock_prices:
    print(x)

('AAPLE', 100)
('banana', 200)

In [29]:
for name,price in stock_prices:
    print(name)

AAPLE
banana

In [31]:
example = [1,2,3,4,5,6,7,8]

In [33]:
from random import shuffle

In [35]:
shuffle(example)

In [37]:
example

[5, 2, 4, 3, 7, 8, 1, 6]

In [39]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [41]:
result = shuffle_list(example)

In [43]:
result

[4, 3, 1, 8, 6, 5, 2, 7]

In [45]:
def myfunc(*args):
    return sum(args)

In [47]:
myfunc(7,5,6,7)

25

In [58]:
def myfunc(word):
    for x in len(word):
        print(word[x])

In [60]:
myfunc("hello")

TypeError: 'int' object is not iterable

In [62]:
def myfunc(word):
    new_word= ''
    for x in range(len(word)):
        if x%2==0:
            new_word+= word[x].upper()
        else:
            new_word+= word[x].lower()
    return new_word

In [64]:
myfunc('fdsfsdfd')

'FdSfSdFd'

In [96]:
def myfunc(a,b):
    if a % 2==0 and b%2==0:
        return min(a,b)
    elif a%3==1 or b%3==1:
        return max(a,b)
     return  None

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

In [98]:
print(myfunc(5,3))

None

In [109]:
def myfunc(a, b):
    if a % 2 == 0 and b % 2 == 0:  # Both numbers are even
        return min(a,b)
    elif a % 3 == 1 or b % 3 == 1:  # Either number leaves a remainder of 1 when divided by 3
        return max(a,b)

In [113]:
myfunc(7,9)

9

In [115]:
def myfunc(word1,word2):
    if word1[0]==word2[0]:
        return True
    else:
        return False

In [117]:
myfunc('rohit','roo')

True

In [119]:
myfunc('rohit','xcxc')

False

In [121]:
def myfunc(a,b):
    if a==20 or b==20 or a+b==20:
        return True
    else:
        return False

In [123]:
myfunc(3,17)

True

In [125]:
myfunc(20,1)

True

In [127]:
myfunc(2,3)

False

In [140]:
def myfunc(word):
    new_str = ''
    for x in range(len(word)):
        if x==0 or x==3:
            new_str += word[x].upper()
        else:
            new_str+=word[x]
    return new_str

In [142]:
myfunc('rohit')

'RohIt'

In [144]:
def myfunc(word):
    return word.split()

In [146]:
myfunc('we are here')

['we', 'are', 'here']

In [166]:
def myfunc(word):
    return word.split()[::-1]

In [168]:
myfunc('we are here')

['here', 'are', 'we']

In [158]:
list1

NameError: name 'list1' is not defined

In [181]:
def myfunc(word):
    new_str = ''
    
    for x in range(len(word)):
        y=0
        while (y<3):
            new_str += word[x]
            y+=1
    return  new_str

In [185]:
myfunc('hello')

'hhheeellllllooo'

In [251]:
def spy_game(*args):
    count = 0
    list1 = []  # Initialize list1 here
    list2 = [0, 0, 7]  # Target sequence

    for i in args:
        if i == 0:
            count += 1  # Increment count for every 0

    if count >= 2:  # Proceed only if there are at least two 0s
        for j in args:
            if j == 0 or j == 7:
                list1.append(j)  # Add 0s and 7s to list1
        if list1 == list2:  # Compare list1 with the target sequence
            return True
        else:
            return False
    return False

In [255]:
spy_game(1,0,3,5,0,7)

True

In [257]:
lis1  = [1,2,3,4]

In [267]:
def square(lis1):
    return lis1**2

In [271]:
for i in map(square,lis1):
    print(i)

1
4
9
16

In [269]:
lis1

[1, 2, 3, 4]

In [273]:
nums = [1, 2, 3, 4]
evens = filter(lambda x: x % 2 == 0, nums)
print(list(evens))

[2, 4]

In [275]:
nums = [1, 2, 3, 4]
squared = map(lambda x: x ** 2, nums)
print(list(squared))

[1, 4, 9, 16]

In [293]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'
def greet():
# ENCLOSING
    name = 'Sammy'
    def hello():
#LOCAL
        name = 'IM A LOCAL'
        print ( 'Hello '+name)
    hello()
greet()

Hello IM A LOCAL

In [291]:
greet()

NameError: name 'greet' is not defined

In [295]:
x = 50
def func():
    global x
    print (f'X is {x}')
# LOCAL REASSIGNMENT ON A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [297]:
print(x)

50

In [299]:
func(x)

TypeError: func() takes 0 positional arguments but 1 was given

In [301]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [13]:
def almost_there(n):
    if n in range(90,110) or n in range(190,210):
        return True
    else:
        return False

In [21]:
almost_there(209)

True

In [31]:
def has_33(list1):
    for i in range(len(list1)):
        if list1[i]==list1[i+1]:
            return True
        else:
            return False

In [33]:
has_33([3,1,3])

False

In [53]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21 and a==11 or b==11 or c==11:
        return (a+b+c)-10
    elif a+b+c >21:
        return "BUST"

In [57]:
blackjack(9,9,11)

19

In [59]:
def summer_69(list1):
    sum = 0
    for i in list1:
        if i==6
        sum+=i
    return sum

In [61]:
summer_69([1,3,5])

9

In [63]:
str = 'Hello Mr. Rogers, how are you this fine Tuesday?'

In [79]:
def up_low(str):
    count_up = 0
    count_low=0
    for i in str:
        if i.isupper():
            count_up += 1
        elif i.islower():
            count_low += 1
    return count_up,count_low

In [81]:
up_low(str)

(4, 33)

In [87]:
def unique_list(list1):
    myset = set(list1)
    list2 = list(myset)
    return list2

In [89]:
unique_list([1,1,1,1,12,2,2,2,3,3,3,4,4,5,6])

[1, 2, 3, 4, 5, 6, 12]

In [95]:
def mutilpy(list1):
    mul = 1
    for i in list1:
        mul = mul*i
    return mul

In [97]:
mutilpy([1,2,3,-4])

-24

In [124]:
str = 'iiii'

In [130]:
def pal(str):
    rev_str = ''
    for i in str[::-1]:
        rev_str +=i
    if str==rev_str:
        return True
    else:
        return False

In [132]:
pal(str)

True

In [109]:
rev_str = str[::-1]

In [111]:
rev_str

'olleh'